:root {
    --light-beige: #fff6b5;
    --light-yellow: #ffe993;
    --light-pink: #ff999e;
    --light-blue: #79f0ff;
    --light-purple: #ce97ff;

    --sunny-yellow: #ffff61;
    --lemonade-yellow: #fff157;
    --daffodil-yellow: #ffe14d;
    --marigold-yellow: #ffd447;
    --sunflower-yellow: #ffc547;
    --tangerine-yellow: #ffb647;
    --apricot-orange: #ffa647;
    --pumpkin-orange: #ff9a4d;
    --persimmon-orange: #ff8b52;
    --coral-red: #ff7e57;
    --watermelon-red: #ff6f5c;
    --tomato-red: #ff6161;
    --strawberry-red: #ff617e;
    --raspberry-pink: #f69;
    --orchid-pink: #fa70b5;
    --lavender-pink: #ed7dcd;
    --lilac-purple: #dc8ce3;
    --amethyst-purple: #c79af4;
    --periwinkle-blue: #aea3ff;
    --cornflower-blue: #99b3ff;
    --sky-blue: #80bbff;
    --aqua-blue: #6bc1ff;
    --azure-blue: #61caff;
    --light-green: #99ff93;
    --mint-green: #7fffaa;
    --seafoam-green: #6fffc1;


    --yes-button: #88d8c0;
    --no-button: #f4c6c9;

    --yes-button-text: #003366;
    --no-button-text: #5C2B29;

    --yes-button-border: #7fc2b3;
    --no-button-border: #e6a8ac;


}

html,
body {
    background-image: linear-gradient(to bottom,
            var(--light-beige) 0%,
            var(--light-yellow) 100%);
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
    min-height: 100%;
    overflow-y: hidden;
    top: 0;
    bottom: 0;

}

* {
    font-family: "Emilys Candy", serif;
    font-weight: 400;
    font-style: normal;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-10px);
    }

    100% {
        transform: translatey(0px);
    }
}


.cloud {
    border-radius: 50%;
    position: fixed;
    width: 10em;
    height: 5em;
    animation: float 6s ease-in-out infinite;


}

.puff {
    position: fixed;
    border-radius: 50%;
    width: 10em;
    height: 5em;
}

.canvas-container {
    display: grid;
    place-items: center;
    position: absolute;
    inset: 0;

}

.canvas {
    position: absolute;

    width: 66.67vw;
    height: 66.67vh;
    border-radius: 1em;
}





.sticker {
    position: fixed;
    width: 15vw;
    min-width: 7em;
    z-index: 3;
}

.content-container {
    display: grid;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    justify-items: center;
    align-items: start;
    grid-gap: 20px;
    grid-auto-flow: row;
}


.message {
    font-size: 1.5em;
    text-align: center;
    background-color: var(--light-yellow);
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    max-width: 66vw;
}


.button-wrapper {
    display: flex;
    justify-content: center;
    gap: 3em;

}

.cute-button {
    padding: 1.25em 2.5em;
    border-radius: 6.25em;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
    width: 12.5em;
    z-index: 1;
    margin: 0 auto;
    font-size: 1.25em;
}

.cute-button:hover {
    transform: scale(1.3);
}

.tiktok-embed {
    z-index: 6;
}

.yes-button {
    background-color: var(--yes-button);
    color: var(--yes-button-text);
    border: 2px solid var(--yes-button-border);
}

.no-button {
    background-color: var(--no-button);
    color: var(--no-button-text);
    border: 2px solid var(--no-button-border);
}

.banner {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 25vw;
    min-width: 10em;
    z-index: 5;
    max-width: 33vh;
}


@media screen and (max-width: 768px) {

    .cloud,
    .puff {
        width: 15vw;
        height: 2.5em;

    }

    .cute-button {
        width: 8em;
        font-size: 1.1em;
    }



    .content-container {
        font-size: 1em;
    }

}

@media screen and (min-width: 1024px) {

    .cloud,
    .puff {
        width: 10em;
        height: 5em;
    }
}

@media screen and (min-width: 1440px) {

    .cloud,
    .puff {
        width: 15em;
        height: 7.5em;
    }
}


@media screen and (min-width: 1920px) {

    .cloud,
    .puff {
        width: 20em;
        height: 10em;
    }
}